* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.main-header {
    background-color: #dbc441;
    padding: 20px;
}

.main-header-nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
}

.item a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}